.first-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10rem;
	grid-row-gap: 0px;
	padding: 10rem 5rem;
	height: 100vh;
	// background-color: hsla(31, 56%, 92%, 1);
	// background-image: radial-gradient(
	// 		at 96% 2%,
	// 		hsla(23, 9%, 30%, 1) 0px,
	// 		transparent 50%
	// 	),
	// 	radial-gradient(at 99% 2%, hsla(33, 5%, 23%, 1) 0px, transparent 50%),
	// 	radial-gradient(at 30% 1%, hsla(36, 15%, 76%, 1) 0px, transparent 50%),
	// 	radial-gradient(at 4% 98%, hsla(23, 9%, 30%, 1) 0px, transparent 50%),
	// 	radial-gradient(at 49% 52%, hsla(36, 15%, 76%, 1) 0px, transparent 50%),
	// 	radial-gradient(at 1% 98%, hsla(33, 5%, 23%, 1) 0px, transparent 50%),
	// 	radial-gradient(at 71% 99%, hsla(36, 15%, 76%, 1) 0px, transparent 50%);
}

.main-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-title {
	font-family: "Stardom", sans-serif;
	font-size: 3rem;
}

.service-pitch {
	font-family: "Nunito", sans-serif;
	font-size: 1.5rem;
	width: 40vw;
	padding-left: 5rem;
	padding-top: 2rem;
}

.service-container {
	margin-top: 5rem;
}

.service {
	font-family: "Nunito", sans-serif;
}
