.hero {
	height: 100vh;
	// background-color: hsla(31, 56%, 92%, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pitch {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 10px;
	max-width: 80vw;
	width: 80vw;
	margin: 0 auto;

	h1 {
		width: 45rem;
		line-height: 1.2;
		font-weight: 300;
		font-size: 2rem;
		font-family: "Nunito", sans-serif;
	}

	p {
		font-family: "Stardom", sans-serif;
		letter-spacing: 0.7rem;
		margin-bottom: 2rem;
		font-size: 6rem;
		text-align: left;
		color: #101110;
	}
}

// .blob {
// 	position: absolute;
// 	top: 30%;
// 	left: 10%;
// 	width: 20rem;
// 	height: 20rem;
// 	border-radius: 50%;
// 	z-index: -10;
// 	background: rgb(255, 77, 77);
// 	filter: blur(105px);
// }

// .blob-two {
// 	position: absolute;
// 	top: 24%;
// 	left: 6%;
// 	width: 20rem;
// 	height: 20rem;
// 	border-radius: 50%;
// 	z-index: -50;
// 	background: rgb(235, 134, 136);
// 	filter: blur(55px);
// }

// .blob-three {
// 	position: absolute;
// 	top: 35%;
// 	left: 15%;
// 	width: 20rem;
// 	height: 23rem;
// 	border-radius: 50%;
// 	z-index: -50;
// 	background: radial-gradient(
// 		circle,
// 		rgba(255, 148, 77, 1) 50%,
// 		rgba(255, 204, 102, 1) 20%,
// 		rgba(255, 219, 77, 1) 40%
// 	);
// 	filter: blur(65px);
// }
