.hero {
	height: 100vh;
}

.pitch {
	// color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 70rem;
	height: 100%;
	margin: auto;
	padding-left: 2rem;
	position: relative;

	h1 {
		width: 45rem;
		line-height: 1.2;
		font-weight: 300;
		font-size: 2rem;
		font-family: "Melodrama", serif;
	}

	p {
		font-family: "Stardom", sans-serif;
		letter-spacing: 0.7rem;
		margin-bottom: 2rem;
		font-size: 6rem;
		text-align: left;
		color: #101110;
	}
}

.blob {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	z-index: -10;
	background: rgb(255, 77, 77);
	filter: blur(105px);
}

.blob-two {
	position: absolute;
	top: 24%;
	left: 6%;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	z-index: -50;
	background: rgb(235, 134, 136);
	filter: blur(55px);
}

.blob-three {
	position: absolute;
	top: 35%;
	left: 15%;
	width: 20rem;
	height: 23rem;
	border-radius: 50%;
	z-index: -50;
	background: radial-gradient(
		circle,
		rgba(255, 148, 77, 1) 50%,
		rgba(255, 204, 102, 1) 20%,
		rgba(255, 219, 77, 1) 40%
	);
	filter: blur(65px);
}

// .button {
// 	position: relative;
// 	margin: auto;
// 	padding: 1.1rem 1.4rem;
// 	transition: all 0.2s ease;
// 	text-transform: uppercase;

// 	&:before {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		display: block;
// 		border-radius: 28px;
// 		background: rgba(254, 106, 83, 0.824);
// 		width: 3.4rem;
// 		height: 3.4rem;
// 		transition: all 0.5s ease;
// 	}
// 	span {
// 		position: relative;
// 		font-size: 0.9rem;
// 		letter-spacing: 0.25em;
// 		vertical-align: middle;
// 	}

// 	&:hover {
// 		&:before {
// 			width: 100%;
// 			background: rgba(254, 106, 83, 0.824);
// 		}
// 	}
// 	&:active {
// 		transform: scale(0.96);
// 	}
// }

// .scroll {
// 	border: solid black 0.8px;
// 	position: relative;
// 	right: 5%;
// 	bottom: 51rem;
// 	height: 75vh;
// }

// .scroll-down {
// 	display: flex;
// 	flex-direction: row;
// 	position: relative;
// 	bottom: 5rem;
// 	left: 80%;
// 	cursor: pointer;
// }
