.main-head-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.main-head {
	font-family: "Stardom", sans-serif;
	text-align: center;
	font-size: 7rem;
}

.project-text {
	// display: flex;
	// justify-content: flex-end;
	// align-items: flex-end;
	// width: 20rem;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100vh;
	// margin-top: 20rem;
	// width: 70vw;
}

.text-container {
	width: 30vw;
	margin-top: 15rem;
	padding-left: 1rem;
}

.head {
	font-size: 3rem;
	width: 30vw;
	margin-top: 15rem;
	padding-left: 1rem;
	font-family: "Stardom", sans-serif;
}

.description {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	padding-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.8;
}

.image-container {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// margin-bottom: 2rem;
	// min-width: 30vw;
	// width: 50vw;
	max-width: 50vw;
}

.image-one {
	border-radius: 0.5rem;
	width: 100%;
	height: 40%;
	max-width: 80%;
	// max-width: 100vh;
	// margin-top: 3rem;
	// margin-bottom: 2rem;
	z-index: 10;
}

.image-two {
	border-radius: 0.5rem;
	width: 90vw;
	max-width: 100vh;
	z-index: 1;
}

.project-text {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.link {
	position: relative;
	top: 4.3rem;
	right: 13.9rem;
	cursor: pointer;
}

.circle {
	position: relative;
	right: 10rem;
	top: 1rem;
	width: 12vh;
	height: 12vh;

	&:hover {
		animation: drawCircle 1s linear forwards;
	}
}

@keyframes drawCircle {
	0% {
		stroke-dasharray: 0;
	}
	100% {
		stroke-dasharray: 450;
	}
}

@media only screen and (max-width: 480px) {
	.main-container {
		// border: solid green 1px;
		display: flex;
		flex-direction: column;
		margin-top: 25rem;
	}

	.head {
		font-size: 1.7rem;
	}

	.description {
		width: 80vw;
		margin-right: 0rem;
		max-width: 85vw;
	}

	.image-container {
		margin-bottom: 2rem;
	}

	.image-one {
		width: 90vw;
		margin-top: 1rem;
	}

	.link {
		z-index: 10;
		position: relative;
		top: 2rem;
		left: 1rem;
		cursor: pointer;
	}

	.circle {
		display: none;
	}
}
