.firs-cont {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 5rem;
}

.box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.projects {
	transition: transform 0.5s ease;
	font-size: 6vh;
	z-index: 10;
	cursor: pointer;
	padding-left: 1rem;

	&:hover {
		font-style: italic;
		transform: translateX(1px);
	}
}

.main-head-container {
	height: 100vh;
	// display: flex;
	// align-items: center;
	// justify-content: left;
	margin: 2rem;
}

.main-head {
	font-family: "Stardom", sans-serif;
	text-align: center;
	font-size: 7rem;
}

.project-text {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 20rem;
}

.calendar {
	max-width: 40vw;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 2rem;
	grid-row-gap: 0px;
	align-items: flex-start;
	justify-content: center;
	margin-top: 20rem;
}

.head {
	font-size: 3rem;
	font-family: "Stardom", sans-serif;
}

.description {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	width: 40vw;
	padding-top: 1rem;
	max-width: 35vw;
	text-align: left;
	font-size: 1.2rem;
}

.image-container {
	padding-right: 2rem;
	margin-bottom: 2rem;
	grid-area: 2;
	// max-width: 40vw;
	border: solid green 1px;
	// min-width: 30vw;
}

.image-one {
	border-radius: 0.5rem;
	width: 80vw;
	// max-width: 55vw;
	z-index: 10;
}

.image-two {
	border-radius: 0.5rem;
	width: 80vw;
	// max-width: 55vw;
	z-index: 1;
}

.project-text {
	position: relative;
	grid-area:  4 ; /* Adjust the grid area based on your layout */
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin-top: -6rem; /* Adjust the margin to position it precisely */
}

.link {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.circle {
	width: 7rem;
	height: 8rem;
	position: relative;
}
